<div class="card group">
    <div class="card-body">
        <div class="card-title header-elements" style="display: flex; justify-content:space-between; align-items:center;">
            <h5 style="font-size: 120%;" class="m-0 me-2 mb-2">{{this.meeting_name}}</h5>
            {{distance}}
            {{> directionsButton this}}
        </div>
        <div class="row" {{{getWord 'css-textAlign'}}}>
                <div class="col-md-4">
                    {{> group_map}}
                </div>
                <div class="col-md-8 box-shadow" style="margin-inline-start:10px;">
                    <div class="card-body">
                        <div class="card-text">
                            {{#isInPersonOrHybrid this}}
                                <div class="card-title header-elements">
                                    <h5 class="m-0 me-2">{{getWord 'Address'}}</h5>
                                </div>
                                <div class="location-text">{{{this.location_text}}}</div>
                                <div class="meeting-address">{{this.formatted_address}}</div>
                                <div class="location-information">{{{this.formatted_location_info}}}</div>
                                <br/>
                            {{/isInPersonOrHybrid}}
                            {{#isVirtualOrHybrid this}}
                                <div class="card-title header-elements">
                                    <h5 class="m-0 me-2">{{getWord 'Join this meeting online'}}</h5>
                                </div>
                                {{#if virtual_meeting_link}}
                                    <div>{{webLinkify this.virtual_meeting_link}}</div>
                                    {{#if show_qrcode}}
                                        <div class="qrcode">{{qrCode virtual_meeting_link}}</div>
                                    {{/if}}
                                {{/if}}
                                {{#if this.phone_meeting_number}}
                                    <div>{{phoneLinkify this.phone_meeting_number}}</div>
                                    {{#if this.show_qrcode}}
                                        <div class="qrcode">{{qrCode this.phone_meeting_number}}</div>
                                    {{/if}}
                                {{/if}}
                                {{#if this.virtual_meeting_additional_info}}
                                    {{this.virtual_meeting_additional_info}}
                                {{/if}}
                                <br/>
                            {{/isVirtualOrHybrid}}
                        </div>
                        <div class="card-title header-elements">
                            <h5 class="m-0 me-2">{{getWord 'Meeting Info'}}</h5>
                        </div>
                        <div class="card-text">
                            {{> formatDescriptions }}
                        </div>
                        <div class="card-title header-elements">
                            <h5 class="m-0 me-2">{{getWord 'Comments'}}</h5>
                        </div>
                        <div class="card-text">
			                <div class="bmlt-comments">{{formatLink this.formatted_comments}}</div>
			                <div class="bmlt-observer">
                                {{> observerLine name=contact_name_1 phone=contact_phone_1 email=contact_email_1 }}
		                        {{> observerLine name=contact_name_2 phone=contact_phone_2 email=contact_email_2 }}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row card-meeting-row" {{{getWord 'css-textAlign'}}}>
            {{#each this.membersOfGroup}}
            <div class="col-md-3 mb-2 box-shadow">
                <div class="card-body">
                    <div class="card-title header-elements">
                        <h5 class="m-0 me-2">
                            <div class="bmlt-day">{{this.formatted_day}}</div>
			                {{#ifEquals this.duration_time "24:00:00"}}
				                <div class="bmlt-time-2">{{this.start_time_formatted}}</div>
			                {{else}}
				                <div class="bmlt-time-2">{{this.start_time_formatted}} - {{this.end_time_formatted}}</div>
			                {{/ifEquals}}
                        </h5>
                    </div>
                    <div class="card-text">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                {{#if formats_expanded}}
                                    <ul>
                                        {{#each formats_expanded}}
                                            <li>{{description}}</li>
                                        {{/each}}
                                    </ul>
                                    <br/>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>