<div id="bmlt-tabs-table">
    <div id="bmlt-header" class="bmlt-header {{getWord 'css-direction'}} hide">
        {{> header}}
    </div>
	{{#each this.meetings.buttonFilters}}
		<div id="byfield_{{ @key }}" class="bmlt-page {{getWord 'css-direction'}} hide" >
			{{> byfields this }}
		</div>
	{{/each}}
    {{#each this.meetings.buttonFormatFilters}}
		<div id="byfield_{{ @key }}" class="bmlt-page {{getWord 'css-direction'}} hide">
			{{> byfields this }}
		</div>
	{{/each}}
    {{#if this.config.map_page }}
    	<div id="byfield_embeddedMapPage" class="bmlt-map bmlt-page {{getWord 'css-direction'}} hide">
		</div>
    {{/if}}
    <div id="byday" class="bmlt-page {{getWord 'css-direction'}} hide">
        {{> bydays this.meetings.bydays}}
    </div>
    <div id="tabs-content" class="bmlt-page {{getWord 'css-direction'}}">
        {{> weekdays this.meetings.weekdays}}
    </div>
    {{> meetingCountTemplate }}
</div>
