<button id="map-menu-button" class="menu-button" title="Erweiterte Suche" style="width: 95px;">
    <span class="menu-button-childSmall" style="background-image: url('{{this.imageDir}}/menu-32.png');"></span>
    <span class="menu-button-label">{{getWord 'Menu'}}</span>
</button>
    <div id="map-menu-dropdown" class="menu-dropdown">
        <button id="lookupLocation" style="display: block;">{{getWord 'Show meetings near...'}}</button>
        <button id="nearbyMeetings" style="display: block;">{{getWord 'near_me'}}</button>
        {{#if this.dropdownData}}
        <button id="filterMeetings" style="display: block;">{{getWord 'Filter meetings'}}</button>
        <button id="showAsTable" style="display: block;">{{getWord 'visible meeting list'}}</button>
        {{else}}
        <button id="filterTable" style="display: block;"><span id="filteringByVisibility"></span>{{getWord 'filter by visibility'}}</button>
        {{/if}}
        <button id="fullscreenMode" style="display: block;">{{getWord 'Toggle fullscreen mode'}}</button>
    </div>
<div id="filter_modal" class="modal" style="display: none;">
	<div class="modal-content">
        <span class="modal-title">{{getWord 'Filter meetings'}}</span><span id="close_filter" class="modal-close">×</span>
        {{#each this.dropdownData}}
	        <div class="bmlt-dropdown-container">
		        <select class="crouton-select filter-dropdown" style="width:{{../this.config.dropdown_width}};" data-placeholder="{{placeholder}}" data-pointer="{{pointer}}" id={{elementId}}>
		            <option value="a-">{{getWord 'all'}} {{placeholder}}</option>
		            {{#each (call uniqueData ../meetings.meetingData)}}
			            <option value="a-{{call ../objectPointer this}}">{{call ../optionName this}}</option>
		            {{/each}}
		        </select>
	        </div>
        {{/each}}
    </div>
</div>
<div id="table_page" class="bmlt-page {{getWord 'css-direction'}} hide" >
    <div id="bmlt-maptable-header"><span class="map-list-title">{{getWord 'Visible meeting list'}}</span><span id="close_table" class="table-close">X</span></div>
    <div id="bmlt-maptable-div"  style="position:relative; overflow-y:scroll;">

        <table class='bmlt-table table table-striped table-hover table-bordered tablesaw tablesaw-stack {{getWord 'css-direction'}}'>
        {{#each this.meetings.bydays}}
            {{> meetings this.meetings }}
        {{/each}}
        </table>
    </div>
</div>
<div id="geocoding_modal" class="modal" style="display: none;">
	<div id="search_content" class="modal-content">
		<span class="modal-title">{{getWord 'Show meetings near...'}}</span><span id="close_search" class="modal-close">x</span>
        <p></p>
        <div class="modal-search">
            {{getWord 'Enter a city or zip code'}}
            <input id="goto-text" type="text">
            <button id="goto-button" class="filter-button">{{getWord "go"}}</button>
        </div>
  	</div>
</div>

