<button id="map-search-button" class="menu-button" title="Erweiterte Suche">
    <span class="menu-button-label" style="position:initial;">{{getWord 'Search for meetings'}}</span>
</button>
<div id="bmltsearch_modal" class="modal" style="display: none;">
	<div id="bmltsearch_content" class="modal-content">
		<span id="close_search" class="modal-close">x</span>
        <span class="modal-title">{{getWord 'Search for meetings'}}</span>
        <table>
        <tr><td><div class="modal-search">
            <input id="bmltsearch-goto-text" type="text" placeholder="{{getWord 'Enter a city or zip code'}}" style="margin-bottom:5px;">
            <button id="bmltsearch-text-button" class="filter-button">{{getWord 'text_search'}}</button>
        </div></td></tr>
        <tr><td><div class="modal-search">
                <button id="bmltsearch-nearbyMeetings" class="filter-button">{{getWord 'near_me'}}</button>
        </div></td></tr>
        <tr><td><div class="modal-search">
                <button id="bmltsearch-clicksearch" class="filter-button">{{getWord 'click_search'}}</button>
        </div></td></tr></table>
  	</div>	
</div>