<button id="map-search-button" class="menu-button" title="{{getWord 'Open Search Dialog'}}">
    <span class="menu-button-label" style="position:initial;">{{getWord 'Search for meetings'}}</span>
</button>
<div id="bmltsearch_modal" class="modal" style="display: none;">
    <div id="bmltsearch_content" class="modal-content">
        <span id="close_search" class="modal-close">x</span>
        <div id="modal-search-page">
            <div class="modal-title">{{getWord 'Search for meetings'}}</div>
            <div id="zoomed-out-message" class="hide">
                <p>{{getWord 'zoomed-out-message'}}</p>
            </div>
            <div id="modal-search-box" class="modal-search">
                <input id="bmltsearch-goto-text" type="text"
                    placeholder="{{getWord 'Enter a city or zip code'}}" style="margin-bottom:5px;">
                <button id="bmltsearch-text-button" class="filter-button">{{getWord 'text_search'}}</button>
            </div>
            <div class="modal-search">
                <button id="bmltsearch-nearbyMeetings" class="filter-button">{{getWord 'near_me'}}</button>
            </div>
            <div class="modal-search">
                <button id="bmltsearch-clicksearch" class="filter-button">{{getWord 'click_search'}}</button>
            </div>
            <button id="show-search-parameters" class="advanced-search-button">{{getWord 'Adjust Search'}}</button>
        </div>
        <div id="modal-seach-parameters">
            <div class="modal-title">{{getWord 'Adjust Search'}}</div>
            <input type="number" id="search_parameter" name="search_parameter" maxlength="3" size="3">
            <p>{{getWord 'This number represents'}}:</p>
            <input type="radio" id="search_radius" name="map_search_type" value="radius">
            <label id="search_radius_label" for="search_radius"></label><br>
            <input type="radio" id="search_count" name="map_search_type" value="count">
            <label for="search_count">{{getWord 'Approx. number of meetings in result'}}</label><br>
            <button id="show-search-page" class="advanced-search-button">{{getWord 'Back'}}</button>
        </div>
    </div>
</div>