{{#each this}}
	<tr class="bmlt-data-row"
		id="meeting-data-row-{{this.id_bigint}}"
		data-cities="{{formatDataPointer this.location_municipality}}"
		data-groups="{{formatDataPointer this.meeting_name}}"
		data-locations="{{formatDataPointer this.location_text}}"
		data-zips="{{formatDataPointer this.location_postal_code_1}}"
		data-formats="{{formatDataPointerFormats this.formats_expanded}}"
		data-areas="{{formatDataPointer this.service_body_bigint}}"
		data-counties="{{formatDataPointer this.location_sub_province}}"
		data-neighborhoods="{{formatDataPointer this.location_neighborhood}}"
		data-states="{{formatDataPointer this.location_province}}"
		data-venues="{{formatDataFromArray this.venue_type}}"
		data-languages="{{formatDataPointerFormats this.formats_expanded}}">
		<td class="bmlt-column1">
			<div class="bmlt-day">{{this.formatted_day}}</div>
			<div class="bmlt-time-2">{{this.start_time_formatted}} - {{this.end_time_formatted}}</div>
			{{#if this.formats}}
				<a id="bmlt-formats"
				   class="btn btn-primary btn-xs"
				   title=""
				   data-html="true"
				   tabindex="0"
				   data-trigger="focus"
				   role="button"
				   data-toggle="popover"
				   data-original-title=""
				   data-content="
                        <table class='bmlt_a_format table-bordered'>
                        {{#each this.formats_expanded}}
                        <tr>
                            <td class='formats_key'>{{key}}</td>
                            <td class='formats_name'>{{name}}</td>
                            <td class='formats_description'>{{description}}</td>
                        </tr>
                        {{/each}}
                    </table>">
                    <span class="glyphicon glyphicon-search"
						  aria-hidden="true"
						  data-toggle="popover"
						  data-trigger="focus"
						  data-html="true"
						  role="button"></span>{{ this.formats }}
				</a>
			{{/if}}
			<div class="bmlt-comments">{{formatLink this.formatted_comments}}</div>
			<div class="bmlt-observer">{{> observerTemplate }}</div>
		</td>
		<td class="bmlt-column2">
			<div class="meeting-data-template">{{> meetingDataTemplate }}</div>
		</td>
		<td class="bmlt-column3">
			{{> metaDataTemplate }}
			{{#canShare this}}
				<a href="javascript:void(0);" id="share-button" class="btn btn-primary btn-xs"  onclick="navigator.share({ text: '{{this.formatted_day}} {{this.start_time_formatted}} - {{this.end_time_formatted}} {{this.meeting_name}} {{this.location_text}} {{this.formatted_address}} {{this.formatted_location_info}}{{#if this.virtual_meeting_additional_info}} {{this.virtual_meeting_additional_info}}{{/if}}', url: '{{#isVirtualOrHybrid this}}{{#if this.virtual_meeting_link}}{{this.virtual_meeting_link}}{{/if}}{{#if this.phone_meeting_number}}{{this.phone_meeting_number}}{{/if}}{{/isVirtualOrHybrid}}{{#isInPersonOrHybrid this}} https://www.google.com/maps/search/?api=1&amp;query={{this.latitude}},{{this.longitude}}&amp;q={{this.latitude}},{{this.longitude}}{{/isInPersonOrHybrid}}'})"><span class="glyphicon glyphicon-share"></span>  {{this.share_word}}</a>
			{{/canShare}}
		</td>
	</tr>
{{/each}}
