{{#each this}}
	<tr class="bmlt-data-row"
		id="meeting-data-row-{{this.id_bigint}}"
		data-cities="{{formatDataPointer this.location_municipality}}"
		data-groups="{{formatDataPointer this.meeting_name}}"
		data-locations="{{formatDataPointer this.location_text}}"
		data-zips="{{formatDataPointer this.location_postal_code_1}}"
		data-formats="{{formatDataPointerFormats this.formats_expanded}}"
		data-areas="{{formatDataPointer this.service_body_bigint}}"
		data-counties="{{formatDataPointer this.location_sub_province}}"
		data-neighborhoods="{{formatDataPointer this.location_neighborhood}}"
		data-states="{{formatDataPointer this.location_province}}"
		data-venues="{{formatDataFromArray this.venue_type}}"
		data-languages="{{formatDataPointerFormats this.formats_expanded}}">
		<td class="bmlt-column1">
			<div tabindex="0" class="bmlt-day">{{this.formatted_day}}</div>
			<div tabindex="0" class="bmlt-time-2" role="timer">{{this.start_time_formatted}} - {{this.end_time_formatted}}</div>
			{{#if this.formats}}
				<a id="bmlt-formats"
				   class="btn btn-primary btn-xs"
				   title="{{getWord "formats"}}"
				   data-html="true"
				   tabindex="0"
				   data-trigger="focus"
				   role="button"
				   data-toggle="popover"
				   data-original-title=""
				   data-content="
                        <table class='bmlt_a_format table-bordered'>
                        {{#each this.formats_expanded}}
                        <div class='formats_popup'>
                            <div class='formats_key'>{{key}}</div>
                            <div class='formats_name'>{{name}}</div>
                            <div class='formats_description'>{{description}}</div>
                        </div>
                        {{/each}}
                    </table>">
                 <span class="glyphicon glyphicon-search"
					   aria-hidden="true"
					   data-toggle="popover"
					   data-trigger="focus"
					   data-html="true"
					   aria-label="{{getWord "formats"}}"></span>{{ this.formats }}
				</a>
			{{/if}}
			<div tabindex="0" class="bmlt-comments">{{formatLink this.formatted_comments}}</div>
			<div class="bmlt-observer">{{> observerTemplate }}</div>
		</td>
		<td class="bmlt-column2">
			<div class="meeting-data-template">{{> meetingDataTemplate }}</div>
		</td>
		<td class="bmlt-column3">
			{{> metaDataTemplate }}
		</td>
	</tr>
{{/each}}
